<section class="admin">
    <img class="logo" src="./LOGO3.png" alt="">
    <h1 class="text-center mt-3">Admin Shuffle - Algo Starface</h1>
    <div class="d-flex justify-content-center flex-column pt-3 col-lg-6 m-auto">
        <form method="post">
            <label for="shuffle_date">Fecha y Hora EST:</label>
            <input type="text" hidden id="db_date" name="db_date" value=<%= shuffle_date %> >
            <input class="form-control" type="datetime-local" name="shuffle_date" id="shuffle_date" value=<%= shuffle_date %>>
            <!-- <input class="form-control" type="time" name="shuffle_time" id="shuffle_time"> -->
            <label class="mt-3" for="shuffle_status">Seleccionar si se puede jugar al shuffle o no:</label>
            <select class="form-control" name="shuffle_status" id="shuffle_status">
                <% if (settings.shuffle_status) { %>
                    <option value="1" selected>Shuffle On</option>
                    <option value="0" >Shuffle Off</option>
                 <% } else { %>
                    <option value="1">Shuffle On</option>
                    <option value="0" selected>Shuffle Off</option>
                <% } %>
            </select>
            <label class="mt-3" for="show_winners">Seleccionar si hay que mostrar ganadores:</label>
            <select class="form-control" name="show_winners" id="show_winners">
                <% if (settings.show_winners) { %>
                    <option value="1" selected>Mostrar</option>
                    <option value="0" >No Mostrar</option>
                 <% } else { %>
                    <option value="1">Mostrar</option>
                    <option value="0" selected>No Mostrar</option>
                <% } %>
            </select>
            <label for="nft_price" class="mt-3">Precio del NFT:</label>
            <input type="number" class="form-control" name="nft_price" id="nft_price" value=<%= settings.nft_price %>>
            <button type="submit" class="btn btn-primary mt-3">Guardar</button>
        </form>
        <button class="btn btn-secondary mt-3" id="resetShuffle">Resetear Base de Datos</button>
        <p class="mt-2"><strong>¡CUIDADO!</strong></p>
        <ul>
            <li class="p-1"><strong>Fecha:</strong> es en EST</li>
            <li class="p-1"><strong>Shuffle On:</strong> significa si se puede jugar o no al shuffle, en caso de que este apagado va a aparecer en pantalla: Next shuffle will be open for registration on X EST y el contador a la fecha que este asignada aca arriba (osea nadie se va a poder suscribir)</li>
            <li class="p-1"><strong>Mostrar ganadores:</strong> significa que ya marcamos los ganadores en la base de datos entonces les va a aparecer si perdieron o si ganaron. Si está off va a aparecer que el shuffle está cerrado y que los winners van a aparecer pronto. Si el contador no termino no va a pasar nada.</li>
            <li class="p-1"><strong>Nft Price:</strong> es el precio de la venta que aparece en el disclaimer</li>
            <li class="p-1"><strong>Resetear Base de Datos:</strong> va a eliminar las wallet de la base y la gente que se haya conectado va a tener que volver a conectarse para participar en el shuffle</li>
        </ul>
    </div>
</section>
<script>
    let dbDate = document.querySelector('#db_date')
    let shuffle_date = document.querySelector('#shuffle_date')
    shuffle_date.value = dbDate.value;
</script>