<header class="d-flex">
  <a href="https://algostarface.com/">
    <img class="backtohome" src="./backtohome.png" alt="">
  </a>
    <!-- <ul class="nav">
        <li class="nav-item"><a href="#" class="">HOME</a></li>
        <li class="nav-item"><a href="#" class="">ROADMAP</a></li>
        <li class="nav-item"><a href="#" class="">TRAITS</a></li>
        <li class="nav-item"><a href="#" class="active">SHUFFLE</a></li>
        <li class="nav-item"><a href="#" class="">CONTACT US</a></li>
    </ul> -->
</header>
<section>
    <!-- <img class="logo" src="./logo.PNG" alt=""> -->
    <img class="logo" src="./LOGO3.png" alt="">
    <div class="counter">
        <div class="counter-item">
            <p><span class="counternum" id="days">2</span> <br> Days</p>
        </div>
        <div class="counter-item">
            <p><span class="counternum" id="hours">4</span> <br> Hours</p>
        </div>
        <div class="counter-item">
            <p><span class="counternum" id="minutes">34</span> <br> Minutes</p>
        </div>
        <div class="counter-item">
            <p><span class="counternum" id="seconds">58</span> <br> Seconds</p>
        </div>
    </div>
</section>
<!-- <%= participated %>  -->
<% if (participated == 1) { %>
    <section class="message-section" style="">
        <h3 class="message">Congratulations! You are now participating in the shuffle with <span class="participantsnum"> <%= amountParticipated %>  </span> total participants. Good Luck</h3>
    </section>
    <% } else { %>
    <section class="participate-section" style="">
        <h3 class="message mb-4">Connect your wallet to participate</h3>
        <button class="btn connect-btn mb-4" onclick="connectToMyAlgo()">CONNECT</button>
        <button type="button" style="color: #B586FA; background-color: inherit; border: 0" data-bs-toggle="modal" data-bs-target="#disclaimer">
            View Disclaimer
        </button>
    </section>
    <!-- <p class="text-center mt-3"><a href="#" data-bs-toggle="modal" data-bs-target="#disclaimer">View Disclaimer</a></p> -->
<% } %>

<!-- Modal -->
<div class="modal fade disclaimerModal" id="disclaimer" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="disclaimerLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="border: 0; padding-bottom: 0;">
          <button type="button" style="color: white; background-color: white;" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h1 class="text-center" style="font-weight: bold">DISCLAIMER</h1>
          <p>Shuffle entry is now open. You have until December 6, 5PM EST to submit your wallet code.</p>
          <p>It is free to enter the shuffle and 15 winners will be selected.</p>
          <p>If you submit the same wallet code more than once it will only count as one entry.</p>
          <p>After the raffle each winner will be entitled to purchase a random Algo Starface NFT at 60A.</p>
          <p>Winners will be announced on Twitter and have 24hs to collect their Algo Starface NFT.</p>
          <p>Good luck to you all!</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" style="background-color:#B586FA">Understood</button>
        </div>
      </div>
    </div>
  </div>


<script>
    (function () {
  const second = 1000,
        minute = second * 60,
        hour = minute * 60,
        day = hour * 24;

  //I'm adding this section so I don't have to keep updating this pen every year :-)
  //remove this if you don't need it
  let today = new Date(),
      dd = String(today.getDate()).padStart(2, "0"),
      mm = String(today.getMonth() + 1).padStart(2, "0"),
      yyyy = today.getFullYear(),
      nextYear = yyyy + 1,
      dayMonth = "12/07/",
      birthday = dayMonth + yyyy;
  
  today = mm + "/" + dd + "/" + yyyy;
  if (today > birthday) {
    birthday = dayMonth + nextYear;
  }
  //end
  
  const countDown = new Date(birthday).getTime(),
      x = setInterval(function() {    

        const now = new Date().getTime(),
              distance = countDown - now;

        document.getElementById("days").innerText = Math.floor(distance / (day)),
        document.getElementById("hours").innerText = Math.floor((distance % (day)) / (hour)),
        document.getElementById("minutes").innerText = Math.floor((distance % (hour)) / (minute)),
        document.getElementById("seconds").innerText = Math.floor((distance % (minute)) / second);

        //do something later when date is reached
        if (distance < 0) {
          document.getElementById("headline").innerText = "It's my birthday!";
          document.getElementById("countdown").style.display = "none";
          document.getElementById("content").style.display = "block";
          clearInterval(x);
        }
        //seconds
      }, 0)
  }());
</script>