<header class="d-flex">
  <a href="https://algostarface.com/">
    <img class="backtohome" src="./home3.png" alt="">
  </a>
</header>
<section style="margin-top: 10vh;">
    <!-- <img class="logo" src="./logo.PNG" alt=""> -->
    <img class="logo" src="./LOGO3.png" alt="">
    <div class="counter">
        <div class="counter-item">
            <p><span class="counternum" id="days"></span> <br> Days</p>
        </div>
        <div class="counter-item">
            <p><span class="counternum" id="hours"></span> <br> Hours</p>
        </div>
        <div class="counter-item">
            <p><span class="counternum" id="minutes"></span> <br> Minutes</p>
        </div>
        <div class="counter-item">
            <p><span class="counternum" id="seconds"></span> <br> Seconds</p>
        </div>
    </div>
</section>
<div id="demo">

</div>
<% if (showWinners) { %>
  <% if (participated == 1) { %>
      <section class="message-section" style="">
          <h3 class="message">Congratulations! You are now participating in the shuffle with <span class="participantsnum"> <%= amountParticipated %>  </span> total participants. Good Luck!</h3>
          <button type="button" id="disclaimer_btn" style="color: #B586FA; background-color: inherit; border: 0" data-bs-toggle="modal" data-bs-target="#disclaimer" class="mt-2">
            View Disclaimer
          </button>
        </section>
        <section class="shuffle_close_section" style="display: none;">
          <h3 class="text-center message_shuffle_off">Shuffle is now closed. Winner's will be announced soon!</h3>
          <button type="button" id="disclaimer_btn" style="color: #B586FA; background-color: inherit; border: 0" data-bs-toggle="modal" data-bs-target="#disclaimer" class="mt-2">
            View Disclaimer
          </button>
        </section>
      <% } else { %>
      <section class="participate-section" style="">
          <button class="btn connect-btn mb-4 button_connect" id="participateBtn" onclick="connectToMyAlgo()">CONNECT</button>
          <h4 class="message message_inactive m-4" style="display: none;">Registration for our shuffle is now closed. Winners will be announced shortly <br> Connect your wallet to see if you won.</h4>
          <p class="text-center mt-3 mb-1">Registration is now open. Please connect your wallet to participate in our shuffle.</p>
          <button type="button" id="disclaimer_btn" style="color: #B586FA; background-color: inherit; border: 0" data-bs-toggle="modal" data-bs-target="#disclaimer" class="mt-2">
            View Disclaimer
          </button>
      </section>
  <% } %>
  <% } else { %>
    <% if (winner) { %>
      <section class="participate-section" style="">
        <h2 class="text-center mb-4" style="font-weight: bold;">Congratulations!</h2>
        <h3 class="message mb-4">You have been selected as a winner of our shuffle! You are now eligible and have the priority to buy an Algo Starface NFT. <br> Please leave us your twitter username so we can contact you!</h3>
        <section class="form-section">
          <form class="d-flex justify-content-center flex-column align-items-center" action="#" method="post" id="twForm">
            <input class="mb-3 p-2" style="width: 200px" type="text" name="tiwtter_user" id="tiwtter_user" placeholder="@TwitterUsername">
            <input type="hidden" name="walletId" id="walletId" value="<%= walletId %>"> 
            <button class="form-btn" type="submit">Send</button>
          </form>
        </section>
        <button type="button" id="disclaimer_btn" style="color: #B586FA; background-color: inherit; border: 0" data-bs-toggle="modal" data-bs-target="#disclaimer" class="mt-2">
          View Disclaimer
        </button>
    </section>
    <% } else { %>
      <% if (participated == 3) { %>
        <section class="participate-section" style="">
          <button class="btn connect-btn mb-4 button_connect" id="participateBtn" onclick="connectToMyAlgo()">CONNECT</button>
          <h4 class="message message_inactive m-4" style="">Next shuffle will be open for registration on Monday 13 at 4PM EST</h4>
          <button type="button" id="disclaimer_btn" style="color: #B586FA; background-color: inherit; border: 0" data-bs-toggle="modal" data-bs-target="#disclaimer" class="mt-2">
            View Disclaimer
          </button>
        </section>
        <% } else { %>
          <p class="text-center">Thanks for participating, good luck in the next one!</p>
    <% } %>
  <% } %>
<% } %>

<!-- Modal -->
<div class="modal fade disclaimerModal" id="disclaimer" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="disclaimerLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="border: 0; padding-bottom: 0;">
        <button type="button" style="color: white; background-color: #B586FA;" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h1 class="text-center" style="font-weight: bold">DISCLAIMER</h1>
        <p>Shuffle entry is now open. You have until December 14, 4PM EST to submit your wallet code.</p>
        <p>It is free to enter the shuffle and 10 random winners will be selected. The winners will be announced shortly after registration closes.</p>
        <p>If you submit the same wallet code more than once it will only count as one entry.</p>
        <p>After the raffle each winner will be entitled to purchase a random Algo Starface NFT at 60A.</p>
        <p>Winners have 24hs to claim their Algo Starface NFT. If you are selected as a winner, you must fill out the form so that we can contact you.Thank you!</p>
        <p>Good luck to you all!</p>
      </div>
      <div class="modal-footer" style="border: inherit; padding-top: 0;">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="background-color:#B586FA">Understood</button>
      </div>
    </div>
  </div>
</div>

<script>
  if(getCookie('twitterSend')){
    console.log('esta el cookie')
    document.querySelector('.form-section').style.display = 'none'
  }else{
    document.querySelector('.form-section').style.display = 'block'
  }
function setCookie(name,value,days) {
    var expires = "";
    if (days) {
        var date = new Date();
        date.setTime(date.getTime() + (days*24*60*60*1000));
        expires = "; expires=" + date.toUTCString();
    }
    document.cookie = name + "=" + (value || "")  + expires + "; path=/";
}
function getCookie(name) {
    var nameEQ = name + "=";
    var ca = document.cookie.split(';');
    for(var i=0;i < ca.length;i++) {
        var c = ca[i];
        while (c.charAt(0)==' ') c = c.substring(1,c.length);
        if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
    }
    return null;
}
function eraseCookie(name) {   
    document.cookie = name +'=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
}

  const twForm = document.querySelector('#twForm')
  const tiwtter_user = document.querySelector('#tiwtter_user')
  const walletId = document.querySelector('#walletId')

  twForm.addEventListener("submit", function (event) {
  event.preventDefault();
    console.log(tiwtter_user.value)
    let data = {
      tiwtter_user: tiwtter_user.value,
      walletId: walletId.value
    };
    fetch('https://hooks.zapier.com/hooks/catch/803715/bma2ygb/', {
      method: 'POST', // or 'PUT'
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify(data),
      mode: 'no-cors',
    })
    .then(response => response)
    .then(data => {
      console.log('Success:', data);
      swal({
        title: "Your Twitter username was successfully submitted!",
        text: "We will get back to you via DM shortly.",
        icon: "success",
        button: "Exit",
      });
      document.querySelector('.form-section').style.display = 'none'
      setCookie('twitterSend',true ,2);
      // window.location.href = window.location.href;
    })
    .catch((error) => {
      console.error('Error:', error);
    });
});

</script>